:root{
	font: 1.2em "Courier New", monospace;
}@media(prefers-color-scheme:light){:root{
	--pri: hsl(50,70%,90%);
	--sec: #f7df1e;
	--tex: hsl(40,20%,8%);
}}
#app {
	max-width: 40ch;
	margin-inline: auto;
	background: var(--pri);
	color: var(--tex);
	padding-inline: .4rem;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
	border: none;
	background: none;
	color: inherit;
}
*:focus { outline:solid var(--sec); }
button{
	padding: .4em;
	background: var(--sec);
	font-weight: 600;
	cursor: pointer;
	color: var(--rtex);
	transition: box-shadow .2s, text-shadow .2s;
}
button:hover{
	background: var(--dsec);
	box-shadow: inset var(--rsha);
}
button:focus { outline: solid var(--tex) }
input[type="text"]{
	padding: .2em;
	background: var(--tex);
	color: var(--pri);
	margin-block: .3rem;
}
h1,h2,h3,h4,h5,h6{
	font-size: 1.4em;
	color: var(--sec);
}
ul,ol{padding-left: 2rem}
svg{ display: block }
.btn{
	transition: box-shadow .2s;
}
.btn:hover{
	background: var(--dsec);
	box-shadow: inset var(--rsha);
}
a-btn {
	cursor: pointer;
}
input[type="date"] {
	color: var(--pri);
	background: var(--tex);
	padding: .2rem .4rem;
	margin-bottom: .3rem;
	display: block;
}
.space-children > * {
	margin-bottom: .5rem;
}
